.form-wrapper{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.form-group{
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label{
    display: block;
    margin-bottom: 10px;
}

.select{
    display: flex;
    justify-content: space-around;
}


button[type='submit']{
    background-color: #EF233C;
    color: white;
    cursor: pointer;
}
