body{
    background-color: #fff;
    color: #404040;
    font-family: Georgia, Garamond,'Times New Roman', Times, serif;
    font-size: 11px;
    background-image: url("../images/silverware.jpg");
    background-repeat:repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 22px;
    margin: 25px auto;
}

h1, .section-heading{
    font-family: 'Lucida Sans Unicode','Helvetica','Arial', 'sans-serif';
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    letter-spacing: 0.25em;
    width: fit-content;
}

.section-heading{
    font-size: 18px;
    text-transform: uppercase;
}

.content{
    width: 70%;
    margin: auto;
}

a{
    color: #A4A400;
}

.wrap{
    width: 75%;
    text-align: justify;
}

.wrap>span{
    text-decoration: line-through;
}

.comments>figure{
    background-color: #FFFFA8 ;
    font-style: italic;
    width: 85%;
    margin: auto;
}

ul{
   list-style-image: url('../images/pie_icon.gif');
}

li{
    padding: 2px;
}


.float-right{
    float:right;
    margin-bottom: 15px;
}

.first-bar{
    margin-left: 25px;
}

.second-bar{
    margin-left: 76px;
}